.Projectview-body {
  color: white;
  min-height: 35vh;
  height: 100%;
  width: auto;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  border-radius: 20px;
  .projects__list {
    display: flex;
    justify-content: space-around;
    .projectview-cards {
      box-shadow: 5px 5px 5px 0 rgba(7, 7, 7, 0.26);
      padding: 5px;
      border: 3px solid #dedede;
      color: white;
      // display: inline-block;
      width: 175px;
      height: 175px;
      margin: 10px;
      align-items: center;
      border-radius: 20px;
    }
  }
}
