.chatTitle {
  color: black;
  background-color: white; }

.chat-container {
  color: black;
  background-color: white;
  height: 350px;
  position: relative; }
  .chat-container .footer {
    width: auto;
    color: blue;
    height: auto;
    border-radius: 20px; }
    .chat-container .footer textarea {
      width: 500px; }
    .chat-container .footer .form-conrol {
      width: 500px;
      border-radius: 20px; }
    .chat-container .footer .form-conrol {
      height: 100px;
      width: 500px;
      margin-left: 50%; }

body
> div.MuiModal-root-148.MuiDrawer-modal-147
> div.MuiPaper-root-160.MuiPaper-elevation16-178.MuiDrawer-paper-138.MuiDrawer-paperAnchorBottom-142
> div:nth-child(2)
> div.footer
> textarea {
  width: 500px; }
