.chatTitle {
  color: black;
  background-color: white;
}
.chat-container {
  color: black;
  background-color: white;
  overflow-y: auto;
  overflow-x: hidden;
  height: 350px;
  position: relative;
  .footer {
    display: inline-flex;
    // position: fixed;
    // bottom: 0px;
    // left: 0px;
    width: 330px;
    color: blue;
    height: auto;
    .form-conrol {
      width: 330px;
    }
    input {
      width: 100px;
    }
  }
}
