.chatTitle {
  color: black;
  background-color: white; }

.chat-container {
  color: black;
  background-color: white;
  overflow-y: auto;
  overflow-x: hidden;
  height: 350px;
  position: relative; }
  .chat-container .footer {
    display: inline-flex;
    width: 330px;
    color: blue;
    height: auto; }
    .chat-container .footer .form-conrol {
      width: 330px; }
    .chat-container .footer input {
      width: 100px; }
