.task-container {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
  width: 250px; }
  .task-container .task {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    margin: 10px;
    border-radius: 25px;
    padding: 10px;
    text-decoration: none;
    color: black;
    transition: 0.5s;
    flex-wrap: wrap;
    box-shadow: 5px 5px 5px 0 rgba(7, 7, 7, 0.26);
    display: flex;
    border: 2px solid white; }
    .task-container .task h2 {
      color: white; }
    .task-container .task .task-status {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: auto;
      transition: 0.5s; }
    .task-container .task .statusLinks {
      display: flex;
      flex-direction: column; }
      .task-container .task .statusLinks .statusLink:hover {
        cursor: pointer;
        color: white; }
      .task-container .task .statusLinks button {
        font-size: 10px;
        transition: 0.5s;
        border-radius: 20px;
        width: 50px;
        padding: 5px; }
        .task-container .task .statusLinks button:hover {
          border: 2px solid white;
          color: white; }
