body {
  background-color: #57344b;
  min-height: 100%; }

.splash-header {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  background-color: white;
  height: 115px;
  position: relative; }
  .splash-header .splash-logo {
    z-index: 2; }
  .splash-header .splash-headerText {
    align-self: flex-start;
    z-index: 2;
    color: white;
    align-content: center;
    margin-top: 40px; }

.splash-angled {
  position: absolute;
  height: 300px;
  width: 100%;
  left: 0px;
  top: 0px;
  background: linear-gradient(to right, #243949 0%, #517fa4 100%);
  transform: skewY(10deg);
  z-index: 1; }

.spash-otherAngled {
  position: absolute;
  height: 300px;
  width: 100%;
  left: 0px;
  bottom: 60vh;
  background: whitesmoke;
  transform-origin: right top;
  transform: skew(0deg, -20deg);
  z-index: 0; }

.splash-content {
  display: flex;
  background-color: white;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  z-index: 1; }
  .splash-content .splash-background {
    display: flex;
    background-image: url("../../assets/laptop.jpg");
    height: 400px;
    width: auto;
    opacity: 0.5; }
  .splash-content span {
    color: white;
    height: 25px;
    margin: auto;
    width: 300px;
    z-index: 1; }

.splash-login {
  z-index: 2; }
  .splash-login a {
    text-decoration: none; }
  .splash-login .login-button {
    width: 50px; }
  .splash-login button {
    background: linear-gradient(to right, #314755 0%, #26a0da 51%, #314755 100%);
    margin: 10px;
    padding: 15px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
    box-shadow: 0 0 20px #eee;
    border-radius: 10px; }
    .splash-login button:hover {
      background-position: right center; }
