.taskview-body {
  color: white;
  min-height: 35vh;
  height: 100%;
  width: auto;
  border-top: 2px solid whitesmoke;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 25px; }
  .taskview-body .tasks_list {
    display: flex;
    justify-content: space-around; }
  .taskview-body .taskview-cards {
    box-shadow: 5px 5px 5px 0 rgba(7, 7, 7, 0.26);
    padding: 5px;
    border: 3px solid #dedede;
    color: white;
    justify-content: space-around;
    width: 175px;
    min-height: 175px;
    height: auto;
    margin: 10px;
    border-radius: 20px;
    align-items: center;
    border-radius: 20px;
    display: inline-block;
    flex-grow: 2;
    flex-wrap: wrap; }
