.nav-bar {
  color: white;
  text-align: center; }
  .nav-bar a {
    color: white; }
  .nav-bar .profilePicture {
    width: 75px;
    height: auto; }
  .nav-bar .Navbar-logo {
    height: 100px;
    margin: auto; }

.navbar-chat {
  margin-top: 100px; }
