.nav-bar {
  color: white;
  text-align: center;
  a {
    color: white;
  }
  .profilePicture {
    width: 75px;
    height: auto;
  }
  .Navbar-logo {
    height: 100px;
    margin: auto;
  }
}
.navbar-chat {
  margin-top: 100px;
}
