.nav-container {
  background-image: linear-gradient(to right, #243949 0%, #517fa4 100%);
  padding: 10px;
  min-height: 100vh;
  max-height: 100%;
  border-right: 3px solid grey;
  border-top-right-radius: 20px; }

.view-container {
  padding-top: 20px;
  border-radius: 20px;
  padding: 25px; }
