/* HSL */
$color1: hsla(277%, 76%, 36%, 1);
$color2: hsla(245%, 72%, 59%, 1);
$color3: hsla(233%, 51%, 27%, 1);
$color4: hsla(273%, 43%, 65%, 1);
$color5: hsla(286%, 73%, 81%, 1);

/* RGB */
$color1: rgba(109, 22, 163, 1);
$color2: rgba(87, 74, 226, 1);
$color3: rgba(34, 42, 104, 1);
$color4: rgba(171, 129, 205, 1);
$color5: rgba(226, 173, 242, 1);

.dashboard-container {
  background-color: $color1;
  .nav-container {
    background-color: $color1;
  }

  .top-bar {
    color: white;
  }
  .view-container {
    background-color: $color4;
    padding: 50px;
  }
}
