.dashboard-container {
  background-image: linear-gradient(to right, #243949 0%, #517fa4 100%);
  padding: 10px;
  min-height: 100vh;
  max-height: 100%; }
  .dashboard-container .top-bar {
    color: white; }
  .dashboard-container .view-container {
    border-radius: 20px;
    padding: 25px;
    background-image: linear-gradient(to right, #345269 0%, #517fa4 100%); }
