.task-container {
  color: white; }

.tasklist-container {
  border-top: 3px solid #dedede;
  display: grid;
  grid: auto-flow/repeat(auto-fill, minmax(300px, 1fr));
  margin: auto; }

h1 {
  color: WHITE; }
