.project-container {
  color: black; }
  .project-container .projects-container {
    border-top: 3px solid #dedede;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap; }
  .project-container .projects {
    text-transform: capitalize;
    width: 250px;
    min-height: 250px;
    height: 300px;
    border: 3px solid #dedede;
    border-radius: 20px;
    margin: 5px;
    padding: 5px;
    box-shadow: 5px 5px 5px 0 rgba(7, 7, 7, 0.26);
    transition: 0.5s; }
    .project-container .projects:hover {
      box-shadow: 10px 10px 10px 0 rgba(7, 7, 7, 0.26); }
    .project-container .projects .projects-tasks {
      color: black; }
      .project-container .projects .projects-tasks h4 {
        border-bottom: 2px solid white;
        width: 50%;
        margin: auto; }
