/* RGB */
$color1: #0a0a14;
$color2: #2d304d;
$color3: #57344b;
$color4: #1840b6;
$color5: #8e9390;
$color6: #c4c3ca;
$color7: #96325e;
$color8: #9b2f9c;
.App {
  text-align: center;
  background-color: $color3;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 125px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
